{% extends "base_generic.html" %}

{% block content %}
	<h1>Title: {{ book.title }}</h1>

	<p><strong>Authors: </strong>{{ book.authors }}</p> <!-- author detail link not yet defined -->
	<p><strong>Owner: </strong>{{ book.owner }}</p> <!-- author detail link not yet defined -->
	<p><strong>Summary: </strong>{{ book.summary }}</p>
	<p><strong>ISBN: </strong>{{book.isbn}}</p>
	<p><strong>Language: </strong> {{book.language}}</p>
	<p><strong>Genre: </strong> {{book.genre.all|join:", "}}</p>
	{% if perms.catalog.can_mark_returned or book.owner == user %}
		<p><a href="{% url 'book-update' book.id %}">Update Book</a></p>
		<p><a href="{% url 'book-delete' book.id %}">Delete Book</a></p>
	{% elif book.owner != user and user.is_authenticated%}
		<p><a href="{% url 'book-request' book.id %}">Request Book</a></p>
	{% endif %}

	<div style="margin-left:20px; margin-top:20px;">
		<h4>Copies</h4>

		{% if book.bookinstance_set.all %}
		{% for copy in book.bookinstance_set.all %}
			{% if copy.borrower == user or book.owner == user %}
				<hr>
				<p class="{% if copy.status == 'a' %}text-success {% elif copy.status == 'm' %}text-danger {% else %}text-warning{% endif %}">
					{{ copy.get_status_display }} by {{ copy.borrower.username }}
				</p>

				{% if copy.status == 'w' %}
				<p><strong>Due to be returned: </strong>{{ copy.due_back }}</p>
				{% endif %}

				<p><strong>Imprint: </strong> {{ copy.imprint }}</p>
				<p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
				{% if copy.status == 'r' and book.owner == user %}
					<p>
						<a href="{% url 'accept-request' copy.id %}">Accept Request</a>
						<a href="{% url 'reject-request' copy.id %}">Reject Request</a>
					</p>
				{% elif copy.status == 'w' and book.owner == user %}
					<p>
						<a href="{% url 'book-returned' copy.id %}">Returned</a>
					</p>
				{% endif %}
			{% endif %}
		{% endfor %}
		{% else %}
		<p class="text-secondary">No Copies to display.</p>
		{% endif %}
	</div>
{% endblock %}