{% extends "base_generic.html" %}

{% block content %}
	<div class="container">
		<h1 class="display-3">{{ author.last_name }} {{author.first_name}}</h1>
		<p class="text-secondary">
			{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% endif %}
		</p>
		<h2 class="display-5">Books:</h2>
		{% if author.book_set.all %}
			{% for book in author.book_set.all %}
				<h4 class="display-6"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
				<p>{{ book.summary }}</p>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}